encode=json;
context=
{
    uniqueID:"384",
    name:"SettingsPlugin",
    targetPackage:["com.android.settings"],
    version:1,
    pluginClass:["com.oplus.settings.backuprestore.SettingsBackupPlugin", "com.oplus.settings.backuprestore.SettingsRestorePlugin"],
    soPaths:[],
    useParentClass:true,
    backupFolder:"Setting",
    dataPattern:0
};